# Global ignores
node_modules
test-reports
coverage
yarn-error.log

#Scripts
/scripts/servicesApi/

# Client
/client/cypress/videos
/client/cypress/screenshots
/client/junit.xml

# Cypress
/client/cypress.env.json
/client/cypress/fixtures/plugin
/client/cypress/fixtures/streamApp