# https://yarnpkg.com/lang/en/docs/yarnrc/#toc-disable-self-update-check
disable-self-update-check true

# https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
# Prevent yarn from updating `yarn.lock` file while installing dependencies
--frozen-lockfile true